<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap" rel="stylesheet">
    
</head>

<body>
    <div id="intro">
        <h1 id='heading'>Countdown</h1>
        <h2 id='subheading'>How long until golf courses open?</h2>

    </div>
</body>

</html>